# Build outputs
dist
build
.next
out

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output
**/*.test.ts
**/*.test.tsx
**/*.test.js
**/*.test.jsx
**/*.spec.ts
**/*.spec.tsx
**/*.spec.js
**/*.spec.jsx
**/__tests__/**
**/__mocks__/**
**/tests/**
**/test/**
cypress
e2e

# IDE
.vscode
.idea

# Misc
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
